<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type='text/css' href="../style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <title>Playlist</title>
</head>

<body style="background-color:rgb(29, 185, 84);" >
 
    <div id="intro" >
        <img src="{{ImageUser}}" alt="Imagen Usuario" width="100px" height="100px"> <div>Bienvenido {{User}} </div>
        <div id="edit">Editar Perfil</div>
        </div>
     <div id="wel">
    Estas son tus playlist
  </div>
    
    <div id="list">
        
    </div>
 <footer>
      <ul>
          <li>
            Acerca De
          </li>
          <li>
            Licencias Y Permisos
          </li>
          <li>
            Contacto
          </li>
      </ul>
    </footer>
</body>
   <script src="../LogIN.js"></script>
   <script>
     var list = $("#list");
    
let info = '{{Total}}';

let infoarry = info.split(',');

let nameplaylist = infoarry.slice((infoarry.length)/2)

let idplaylist = infoarry.slice(0,(infoarry.length/2))

let imgplaylist = []
{{#each ImgsPly}}
    imgplaylist.push('{{this}}')

{{/each}}
console.log(imgplaylist)
for (let i = 0; i <nameplaylist.length; i++) {
     const np = nameplaylist[i];
      let names = document.createElement("div");
      let as = document.createElement("a");
      let img = document.createElement("img")
      as.setAttribute("href","/songs?id="+idplaylist[i]+"&name="+np)
      names.setAttribute("id",idplaylist[i])
      img.setAttribute("src",imgplaylist[i])
      img.setAttribute("class","img_pls")
      as.append(np)
      names.append(img) 
     names.append(as)

    list.append(names)  
   }

let divs = list.children("divs")

//  let playlistID = '{{PlaylistID}}'
//  let playlistIDarray = playlistID.split(',')

   </script>
   <script src="../all.js"></script>
</html>