<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="../style.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <title>Comentarios</title>
</head>
<body style="background-color:rgb(29, 185, 84);">
                <h1 class="title">Comentarios de {{Song}} </h1>
<div id="intro" >
        <img src="{{ImageUser}}" alt="Imagen Usuario" width="100px" height="100px"> <div>Bienvenido {{User}} </div>
      <div id="edit">Editar Perfil</div>
    </div>
    
    <div class="comments">
        <ul class="comments">
         
        
        <li>
            <div class="user"> {{Name}}
            </div>

            <form action="#" class="comments" method="post">
             <textarea name="message" id="message" cols="160" rows="5"></textarea>
            <button type="submit">Publicar</button>
            </form> </li>


            {{#each Messages}}
          
            <li class="old" id="{{this.Id}}">
            <div class="user"> {{this.Message_user}}
            </div>
            <div class="puntuation">
                <button class="positives" ><img src="../up-arrow.png" alt="flecha hacia arriba" srcset="">{{this.Positive}}</button>
                <button class="negative" > <img src="../down-arrow.png" alt="flecha hacia abajo" srcset="">{{this.Negative}}</button>
            </div>
              <div class="oldcomments">
              
               

              
                <div class="content">
                      {{this.Menssage}}
                </div> 
              </div>
                <button class="respuesta" id="{{this.Id}}r">Responder</button>
            </li> 

        <li class="reply" style="display: none;" >
            
            <form action="/responder" class="comments" method="post">
             <textarea name="message" id="message" cols="160" rows="5"></textarea>
            <button type="submit">Responder</button>
            </form> 
            </li>
         {{/each}}
        </ul> 
         
        
        
    </div>

   

     <footer>
      <ul>
          <li>
            Acerca De
          </li>
          <li>
            Licencias Y Permisos
          </li>
          <li>
            Contacto
          </li>
      </ul>
    </footer>
</body>
<script>

  var posi = $(".positives")
  var neg = $(".negatives")


  console.log(posi);



  
   var edit = $("#edit")
   edit.on("click",()=>{
      window.location.href = "/edit";
   })





   {{#each Messages}}
     var buttonid = $("#{{this.Id}}r")
      
     buttonid.on("click",(e)=>{
       var targ = $(e.target).parent().next()
      targ.css("display","grid ");
     })
  {{/each}}
   var lis = $(".old")
 


    {{#each Replys}}
    for (let i = 0; i < lis.length; i++) {
      console.log(lis[i].getAttribute("id"))
    if({{this.Id_Messages}} === lis[i].getAttribute("id") ){
        var texto = '<li class="old" id="{{this.Id}}">'+
           ' <div class="user"> {{this.Message_user}}'+
          '</div>'+
          '<div class="puntuation">'+
                '<button class="positives" ><img src="../up-arrow.png" alt="flecha hacia arriba" srcset="">{{this.Positive}}</button>'+
                '<button class="negative" > <img src="../down-arrow.png" alt="flecha hacia abajo" srcset="">{{this.Negative}}</button>'+
            '</div>'+
              '<div class="oldcomments">'+
              

              
                '<div class="content">'+
                      '{{this.Menssage}}'+
                '</div>'+
              '</div>'+
                '<button class="respuesta" id="2">Responder</button>'+
                
            '</li>'
           $( texto ).insertAfter(lis[i])
} 
}
     {{/each}}
</script>
</html>