<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="../style.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <title>Comentarios</title>
</head>
<body style="background-color:rgb(29, 185, 84);">
                <h1 class="title">Comentarios de {{Song}} </h1>
<div id="intro" >
        <img src="{{ImageUser}}" alt="Imagen Usuario" width="100px" height="100px"> <div>Bienvenido {{User}} </div>
      <div id="edit">Editar Perfil</div>
    </div>
    
    <div class="comments">
        <ul class="comments">
         
        
        <li>
            <div class="user"> {{Name}}
            </div>
            <div class="puntuation">
                <button class="positives" ><img src="../up-arrow.png" alt="flecha hacia arriba" srcset="">0</button>
                <button class="negative" > <img src="../down-arrow.png" alt="flecha hacia abajo" srcset="">0</button>
            </div>
            
            <form action="#" class="comments" method="post">
             <textarea name="message" id="message" cols="160" rows="5"></textarea>
            <button type="submit">Publicar</button>
            </form> </li>
            {{#each Message}}

            <li>
            <div class="user"> {{Name}}
            </div>
            <div class="puntuation">
                <button class="positives" ><img src="../up-arrow.png" alt="flecha hacia arriba" srcset="">0</button>
                <button class="negative" > <img src="../down-arrow.png" alt="flecha hacia abajo" srcset="">0</button>
            </div>
              <div class="oldcomments">
                <div class="content">
                      {{this}}
                </div>
              </div>

            </li>
         {{/each}}
        </ul> 
         
        
        
    </div>

   

     <footer>
      <ul>
          <li>
            Acerca De
          </li>
          <li>
            Licencias Y Permisos
          </li>
          <li>
            Contacto
          </li>
      </ul>
    </footer>
</body>
<script>

  var posi = $(".positive")
  var neg = $(".negative")
   var edit = $("#edit")
   edit.on("click",()=>{
      window.location.href = "/edit";
   })

</script>
</html>